<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 2000;">

    <div class="container-fluid">

        <a routerLink="/" class="navbar-brand">Test UI</a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav">

                <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Home</a>
                <a routerLink="/pg/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                <a routerLink="/blog/all" routerLinkActive="active" class="nav-item nav-link">Blog</a>
                <a routerLink="/galery" routerLinkActive="active" class="nav-item nav-link">Gallery</a>
                <a routerLink="/ecommerce/all" routerLinkActive="active" class="nav-item nav-link">eCommerce</a>
                <a routerLink="/cart" routerLinkActive="active" class="nav-item nav-link">Cart</a>
                <a routerLink="/checkout" routerLinkActive="active" class="nav-item nav-link">CheckOut</a>
                <a routerLink="/faq" routerLinkActive="active" class="nav-item nav-link">FAQ</a>
                <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>

            </div>

            <div class="navbar-nav ms-auto">

                <a routerLink="/login" routerLinkActive="active" class="nav-item nav-link">Login</a>
                <a routerLink="/register" routerLinkActive="active" class="nav-item nav-link">Register</a>
                <a routerLink="/account" routerLinkActive="active" class="nav-item nav-link">Account</a>

            </div>

        </div>

    </div>

</nav>