<div class="row g-3 pt-3">
  <div class="text-center">
    <h2>Contact</h2>
    <hr>
  </div>
    <div class="col-md-9 px-3 mx-auto">
      <form class="row g-3 needs-validation align-item-center text-center justify-content-center" novalidate>
        <div class="col-md-4 position-relative">
          <label for="validationTooltip01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 position-relative">
          <label for="validationTooltip02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationTooltip02" value="Otto" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 position-relative">
          <label for="validationTooltipUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
            <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
            <div class="invalid-tooltip">
              Please choose a unique and valid username.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="validationTextarea" class="form-label">Textarea</label>
          <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" required></textarea>
          <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
        </div>
        <div class="col-lg-3 col-12 d-grid gap-2 ">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
</div>